DATABASE_URL="postgresql://user:pass@server:port/db?sslmode=require"
NEXT_PUBLIC_BASE_URL="csui24.vercel.app"
NEXT_PUBLIC_ENABLED_REACTIONS=👍,😂,😮,😢
TWITTER_SERVICE_URL
ADMIN_API_KEY
BLOCKED_WORDS
SENDING_MENFESS="true"
PRODUCTION="false"
# X_API_KEY=""
# X_API_KEY_SECRET=""
# X_ACCESS_TOKEN=""
# X_ACCESS_TOKEN_SECRET=""
